.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build/
/captures
.idea/
*.iml
repo/
apk/
gen
generated-src/
.kotlin
.history
node_modules/

GEMINI.md
.github/scripts/anitester.jar

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

__pycache__/