<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="eu.kanade.tachiyomi.animeextension.nsfw"
            android:value="1" />
        <activity
            android:name=".fr.adkami.ADKamiUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.adkami.com" />
                <data android:host="adkami.com" />
                <data android:host="hentai.adkami.com" />
                <data android:pathPattern="/anime/..*" />
                <data android:pathPattern="/hentai/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
