<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="eu.kanade.tachiyomi.animeextension.nsfw"
            android:value="1" />
    </application>
</manifest>
